[submodule "Shared/Libraries/Submodules/libEucalyptus"]
	path = Shared/Libraries/Submodules/libEucalyptus
	url = git@codebasehq.com:otherthings/libeucalyptus/libeucalyptus.git
[submodule "Shared/Libraries/Submodules/libKNFBReader"]
	path = Shared/Libraries/Submodules/libKNFBReader
	url = git@codebasehq.com:otherthings/koala/libknfbreader.git
[submodule "Shared/Libraries/Submodules/KIF"]
	path = Shared/Libraries/Submodules/KIF
	url = https://github.com/square/KIF.git
[submodule "UI Tests/tuneup"]
	path = UI Tests/tuneup
	url = git://github.com/alexvollmer/tuneup_js.git
[submodule "Shared/Libraries/Submodules/bitmodalpopovercontroller"]
	path = Shared/Libraries/Submodules/bitmodalpopovercontroller
	url = git@codebasehq.com:bitwink/bitwink/bitmodalpopovercontroller.git
[submodule "Shared/Libraries/Submodules/bitoperation"]
	path = Shared/Libraries/Submodules/bitoperation
	url = git@codebasehq.com:bitwink/bitwink/bitoperation.git
