/*
   TextFlow XAML styles not representable as CSS selectors are processed
   explicitly in BlioTextFlowXAMLTreeNode.m
*/

* { margin:0; padding:0; border:0 }
Flow { text-align:justify; display:block }
Section { display:block; border-style: solid }
Paragraph { display:block; border-style: solid }

LineBreak:before { content:"\A"; white-space:pre-line }
:link { color:blue }

*[FontWeight="Black"] { font-weight:900 }
*[FontWeight="Bold"] { font-weight:700 }
*[FontWeight="DemiBold"] { font-weight:600 }
*[FontWeight="ExtraBlack"] { font-weight:900 }
*[FontWeight="ExtraBold"] { font-weight:800 }
*[FontWeight="ExtraLight"] { font-weight:200 }
*[FontWeight="Heavy"] { font-weight:900 }
*[FontWeight="Light"] { font-weight:300 }
*[FontWeight="Medium"] { font-weight:500 }
*[FontWeight="Normal"] { font-weight:400 }
*[FontWeight="Regular"] { font-weight:400 }
*[FontWeight="SemiBold"] { font-weight:600 }
*[FontWeight="Thin"] { font-weight:100 }
*[FontWeight="UltraBlack"] { font-weight:900 }
*[FontWeight="UltraBold"] { font-weight:800 }
*[FontWeight="UltraLight"] { font-weight:200 }

*[FontStyle="Normal"] { font-style:normal }
*[FontStyle="Italic"] { font-style:italic }
*[FontStyle="Oblique"] { font-style:oblique }

*[BreakPageBefore="True"] { page-break-before:always }
*[BreakColumnBefore="True"] { page-break-before:always }

*[TextAlignment="Justify"] { text-align:justify }
*[TextAlignment="Center"] { text-align:center }
*[TextAlignment="Left"] { text-align:left }
*[TextAlignment="Right"] { text-align:right }

*[TextDecorations="Overline"] { text-decoration:overline }
*[TextDecorations="Strikethrough"] { text-decoration:line-through }
*[TextDecorations="Underline"] { text-decoration:underline }
*[TextDecorations="Baseline"] { text-decoration:underline }

*[BaselineAlignment="Top"] { vertical-align:top }
*[BaselineAlignment="Center"] { vertical-align:middle }
*[BaselineAlignment="Bottom"] { vertical-align:bottom }
*[BaselineAlignment="Baseline"] { vertical-align:baseline }
*[BaselineAlignment="TextTop"] { vertical-align:text-top }
*[BaselineAlignment="TextBottom"] { vertical-align:text-bottom }
*[BaselineAlignment="Subscript"] { vertical-align:sub }
*[BaselineAlignment="Superscript"] { vertical-align:super }

/* 
   These are not fully semantically equivalant, but they work for the 
   Blio ePub-sourced XAML files 
*/
*[HorizontalAnchor="PageLeft"] { float:left }
*[HorizontalAnchor="ColumnLeft"] { float:left }
*[HorizontalAnchor="ContentLeft"] { float:left }
*[HorizontalAnchor="PageRight"] { float:right }
*[HorizontalAnchor="ColumnRight"] { float:right }
*[HorizontalAnchor="ContentRight"] { float:right }
*[Stretch="Fill"] { width:100%; height:100%; }

List { display:block; margin-left: 40px }
ListItem { display:list-item }
ListItem Paragraph { display:inline }

List[MarkerStyle="None"] { list-style-type:none }
List[MarkerStyle="Disc"] { list-style-type:disc }
List[MarkerStyle="Circle"] { list-style-type:circle }
List[MarkerStyle="Square"] { list-style-type:square }
List[MarkerStyle="Box"] { list-style-type:square }
List[MarkerStyle="LowerRoman"] { list-style-type:lower-roman }
List[MarkerStyle="UpperRoman"] { list-style-type:upper-roman }
List[MarkerStyle="LowerLatin"] { list-style-type:lower-latin }
List[MarkerStyle="UpperLatin"] { list-style-type:upper-latin }
List[MarkerStyle="Decimal"] { list-style-type:decimal }

Table { display:table }
Table\.Columns { display:table-column-group }
TableColumn { display:table-column }
TableRowGroup { display:table-row-group }
TableRow { display:table-row }
TableCell { display:table-cell }

Figure[Tag="KNFBDropCap"] > Paragraph { margin-top:-0.13em }