<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mainTitle</key>
		<string>Create Personalized Bookshelves</string>
		<key>bodyText</key>
		<string>Personalize each bookshelf to your child&apos;s interests and abilities to ensure age-and-level appropriate reading.</string>
		<key>type</key>
		<integer>0</integer>
		<key>fullScreenTitle0</key>
		<string>Create Personalized Bookshelves</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Support Fluency</string>
		<key>bodyText</key>
		<string>Storia eBooks for younger readers feature read-alouds designed to make reading fun. These eBooks include lively music, sound effects, and highlighted text.</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Build Vocabulary</string>
		<key>bodyText</key>
		<string>The Storia Dictionary helps younger children understand words without interrupting the story. Highlight a word and the dictionary offers age-appropriate definitions.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Younger Dictionary</string>
		<key>fullScreenTitle0</key>
		<string>Younger Dictionary</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Build Vocabulary</string>
		<key>bodyText</key>
		<string>The Storia Dictionary for Older Children aids in pronunciation resulting in improved reading comprehension and retention.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Older Dictionary</string>
		<key>fullScreenTitle0</key>
		<string>Older Dictionary</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Motivate with Learning Activities</string>
		<key>bodyText</key>
		<string>Storia&apos;s select Enriched eBooks offer fun learning activities — including games, word matches and quizzes.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Word Match</string>
		<key>fullScreenTitle0</key>
		<string>Word Match</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Motivate with Learning Activities</string>
		<key>bodyText</key>
		<string>Fun games help build comprehension, retention and reading confidence.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Who Said It?</string>
		<key>fullScreenTitle0</key>
		<string>Who Said It?</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Utilize Reading Tools</string>
		<key>bodyText</key>
		<string>Your older child can highlight text to revisit, just like in a paper book.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Highlight</string>
		<key>fullScreenTitle0</key>
		<string>Highlight</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Utilize Reading Tools</string>
		<key>bodyText</key>
		<string>Storia&apos;s note-taking feature also allows them to jot down their thoughts and have their notes saved to the eBook they&apos;re reading.</string>
		<key>type</key>
		<integer>0</integer>
		<key>subtitle0</key>
		<string>Notes</string>
		<key>fullScreenTitle0</key>
		<string>Notes</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Track Progress</string>
		<key>bodyText</key>
		<string>Storia’s Reading Reports allow you to follow your child’s reading habits and interests by keeping track of the titles they’ve read and their time spent with each eBook.</string>
		<key>type</key>
		<integer>0</integer>
		<key>fullScreenTitle0</key>
		<string>Track Progress</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Recommendations and Wish Lists</string>
		<key>bodyText</key>
		<string>Keep reading confidence growing with eBook recommendations from the reading experts at Scholastic. Your child will be able to add eBooks to a wish list so you can keep them excited about reading.</string>
		<key>type</key>
		<integer>0</integer>
		<key>fullScreenTitle0</key>
		<string>Recommendations and Wish Lists</string>
	</dict>
	<dict>
		<key>mainTitle</key>
		<string>Start Your Storia Journey!</string>
		<key>bodyText</key>
		<string>Register now to get started! After you sign in, your five FREE eBooks will be waiting for you. Just assign your new eBooks to a child&apos;s bookshelf so they can start reading.</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
