<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title0</key>
		<string>Create Personalized Bookshelves</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>title0</key>
		<string>Younger Dictionary</string>
		<key>title1</key>
		<string>Older Dictionary</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>title0</key>
		<string>Highlight</string>
		<key>title1</key>
		<string>Notes</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
        <key>title0</key>
		<string>Word Match</string>
		<key>title1</key>
		<string>Who Said It?</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
        <key>title0</key>
		<string>Reading Reports</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
        <key>title0</key>
		<string>Recommendations and Wish Lists</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
