<head>
<script type="text/javascript">
<!--

function ReportSize() 
{
	var width = document.getElementsByTagName("div")[0].offsetWidth;
	var height = document.getElementsByTagName("div")[0].offsetHeight;
	window.external.notify(width + "," + height);
}

window.onload = function() 
{
	ReportSize();
}

-->
</script>

<style>
/* CSS referenced by KNFBPour.xsl for sdict.xsd. */ 
/* Last revised: 2010-10-19 */ 

body {background: #d7f1ff; margin: 0px; padding: 10px;}

.YD {
	font-family:Arial, sans-serif;
	font-size:18px;
	line-height:normal;
	color: #012f5e;
}

.hw {
	font-size:36px;
	font-weight: bold;
}

.pronGrp {display: none; font-weight: normal;}

td {
	text-align: left;
	vertical-align: top;
	padding-top: 12px;
}

.sense-number {
	font-weight: bold;
	display: inline;
}

td.sense-number {width: 20px;}

.ex {
	font-style:italic;
	margin-top: 12px;
	color: #0263b6;
}

.figure, .feature {
	margin-top:10px;
    text-align: center;
}

.figure img {
    border:1px solid #012f5e;       
}

.caption {
	font-style: italic;
}

</style>
</head>