<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EucFontSizes</key>
	<array>
		<integer>14</integer>
		<integer>17</integer>
		<integer>19</integer>
		<integer>23</integer>
		<integer>29</integer>
	</array>
	<key>EucDefaultFontSize</key>
	<string>19</string>
	<key>EucDefaultFontFamily</key>
	<string>LinuxLibertine</string>
	<key>EucSerifFontFamily</key>
	<string>LinuxLibertine</string>
	<key>EucSansSerifFontFamily</key>
	<string>Helvetica</string>
	<key>EucMonospaceFontFamily</key>
	<string>Courier</string>
	<key>EucCursiveFontFamily</key>
	<string>MarkerFelt</string>
	<key>EucFantasyFontFamily</key>
	<string>Zapfino</string>
</dict>
</plist>
