<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ListBackgroundColor</key>
		<string>a7d8fb</string>
		<key>BackgroundImage</key>
		<string>Blue/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>Default</key>
		<true/>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>1</integer>
		<key>Image</key>
		<string>Blue/Blue</string>
		<key>Name</key>
		<string>Blue</string>
		<key>NavigationBarImage</key>
		<string>Blue/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Blue/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>def3d8</string>
		<key>BackgroundImage</key>
		<string>Snake Skin/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>2</integer>
		<key>Image</key>
		<string>Snake Skin/Snake Skin</string>
		<key>Name</key>
		<string>Snake Skin</string>
		<key>NavigationBarImage</key>
		<string>Snake Skin/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Snake Skin/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>bde0f1</string>
		<key>BackgroundImage</key>
		<string>Waterdrops/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>3</integer>
		<key>Image</key>
		<string>Waterdrops/Waterdrops</string>
		<key>Name</key>
		<string>Waterdrops</string>
		<key>NavigationBarImage</key>
		<string>Waterdrops/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Waterdrops/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>d1ddfe</string>
		<key>BackgroundImage</key>
		<string>Starry Night/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>4</integer>
		<key>Image</key>
		<string>Starry Night/Starry Night</string>
		<key>Name</key>
		<string>Starry Night</string>
		<key>NavigationBarImage</key>
		<string>Starry Night/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Starry Night/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>d8d8d8</string>
		<key>BackgroundImage</key>
		<string>Fence/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>5</integer>
		<key>Image</key>
		<string>Fence/Fence</string>
		<key>Name</key>
		<string>Fence</string>
		<key>NavigationBarImage</key>
		<string>Fence/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Fence/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>c4f6fd</string>
		<key>BackgroundImage</key>
		<string>Grid/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>6</integer>
		<key>Image</key>
		<string>Grid/Grid</string>
		<key>Name</key>
		<string>Grid</string>
		<key>NavigationBarImage</key>
		<string>Grid/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Grid/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
	<dict>
		<key>ListBackgroundColor</key>
		<string>fff4bb</string>
		<key>BackgroundImage</key>
		<string>Dots/bookshelf-bg</string>
		<key>BooksIcon</key>
		<string>Shared/icon-books</string>
		<key>ButtonImage</key>
		<string>Shared/button-cancel</string>
		<key>DoneButtonImage</key>
		<string>Shared/button-done</string>
		<key>HomeIcon</key>
		<string>Shared/icon-home</string>
		<key>id</key>
		<integer>7</integer>
		<key>Image</key>
		<string>Dots/Dots</string>
		<key>Name</key>
		<string>Dots</string>
		<key>NavigationBarImage</key>
		<string>Dots/bookshelf-top-bar</string>
		<key>ShelfImage</key>
		<string>Dots/bookshelf-shelf</string>
		<key>ThemeIcon</key>
		<string>Shared/icon-theme</string>
	</dict>
</array>
</plist>
